/* Universal Styles */

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4a4a4a;
}

body {
  margin: 0;
}

nav ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #4a4a4a;
}

/* Header */

header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 3.785rem;
  z-index: 9999999;
}

.content {
  display: flex;
  align-items: center;
}

.content span {
  flex: 1;
}

.content img {
  padding-left: 1.5rem;
}

.content nav ul {
  display: flex;
}

.content nav li {
  padding: 0 16px;
}

.content .desktop {
  padding-right: 1.5rem;
}

.content .mobile {
  display: none;
}

/* Main Content */

/* Banner */
#banner {
  padding-top: 6rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #d8d8d8;
  display: flex;
  align-items: center;
}

#banner img {
  width: 60%;
}
