/* Universal Styles */

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4a4a4a;
}

body {
  margin: 0;
}

nav ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #4a4a4a;
}

/* Header */

header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 3.785rem;
  z-index: 9999999;
}

.content {
  display: flex;
  align-items: center;
}

.content span {
  flex: 1;
}

.content img {
  padding-left: 1.5rem;
}

.content nav ul {
  display: flex;
}

.content nav li {
  padding: 0 16px;
}

.content .desktop {
  padding-right: 1.5rem;
}

.content .mobile {
  display: none;
}

/* Main Content */

.main-content {
  position: relative;
  top: 4rem;
}

/* Banner */
#banner {
  padding: 2rem 1.5rem;
  background-color: #d8d8d8;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.section-images img {
  width: 90%;
}

#banner-info {
  padding-right: 4rem;
  margin-right: 4rem;
}

#banner-info h1 {
  font-weight: 800;
}

#banner-info button {
  padding: 0.5rem 0;
  width: 100%;
  background-color: #4a4a4a;
  font-family: 'Open Sans', sans-serif;
  border: none;
  color: #fff;
}

/* Main Info */

.info {

}

.main-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
